.main-container {
  height: 100rem;
  width: 100%;
  background-image: url("./images/impact1.jpg");
  background-position-y: -190px;
  
  background-size: 100%;

  font-family: "Raleway", sans-serif;
}

.nav-bar {
  display: flex;
  background-color: rgb(253, 71, 1);
  width: 80%;
  justify-content: space-around;
  justify-items: center;
  font-size: medium;
  border-radius: 5px;
  font-weight: bold;
  margin: auto;
}

.logo img {
  width: 50px;
  margin-top: 5px;

  border-radius: 10px;
}

.Home,
.About,
.Impact,
.Volunteer,
.News,
.Contact {
  margin-top: 5px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  height: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: green;
}

.nav-bar a:hover {
  text-decoration: white;
  color: white;
}
